.main-bg {  
  background-image: url('/assets/img/background.svg');
  background-position: center center;
  color: var(--primary-color);
}

.white-bg {
  background-color: var(--primary-color);
}

.main-content {
  max-width: 1400px;
  margin: 0 auto;
  padding: var(--gap);
}

.section {
  min-height: 100vh;
}

.d-flex {
  display: flex;
  justify-content: space-between;
}

.d-grid {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: var(--gap);
  align-items: center;
  height: 100vh;
}

.p-fixed {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  border-bottom: 1px solid #550055;
  color: #550055;
}

.respiro {
  height: 85px;
}

.logo {
  font-size: 1em;
}

.nav-menu > a {
  margin: 0 1rem;
  padding: 0.5rem;
  transition: all 0.3s ease-in-out;
}

.nav-menu> a:nth-last-child(1) {
  background-color: #550055bd;
  color: var(--primary-color);
  border-radius: 0.5rem;
}

.nav-menu > a:hover {
  background-color: #550055;
  color: var(--primary-color);
  border-radius: 1rem;
}

#intro {
  background-color: #ffffff1c;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 2px 2px 2px #ffffff50;
}

#intro > h2 {
  margin-bottom: 2rem;
}

#intro > p {
  line-height: 3rem;
}

.web-dev-img {
  height: 90%;
  width: 90%;
}

.who-am-i-img {
  margin-left: 2rem;
  height: 100%;
  width: 100%;
}

.who-am-i {
  color: #550055;
  background-color: #5500551c;
  height: 60vh;
  width: 50vw;
  border-radius: 1rem;
  box-shadow: -2px -2px 2px;
}

.who-am-i p {
  line-height: 3.1rem;
}

.d-flex-jobs {
  display: flex;
  flex-direction: column;
  line-height: 5rem;
  align-items: center;
}

.d-grid-jobs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--gap);
}

#my-job > p {  
  margin-bottom: 3rem;
}

.agro > h3 {
  font-size: 4rem;
  margin-bottom: 3rem;
}

.agro > p {
  line-height: 3rem;
}

.pseudo-dev > h3 {
  font-size: 4rem;
  margin-bottom: 3rem;
}

.pseudo-dev > p {
  line-height: 3rem;
}

.gamer > h3 {
  font-size: 4rem;
  margin-bottom: 3rem;
}

.gamer > p {
  line-height: 3rem;
}

#my-job {
  margin-top: 8rem;
}