.main-bg {  
  background-image: url('/assets/img/background.svg');
  background-position: center center;
  color: var(--primary-color);
}

.white-bg {
  background-color: var(--primary-color);
}

.main-content {
  max-width: 1400px;
  margin: 0 auto;
  padding: var(--gap);
}

.section {
  min-height: 100vh;
}

.d-flex {
  display: flex;
  justify-content: space-between;
}

.d-flex-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.d-flex-menor {
  max-width: 50rem;
  background-color: #ffffff1c;
  border-radius: 1rem;
  box-shadow: 3px 3px 1rem #ffffff5b;
}

.d-flex-menor {
  margin-bottom: var(--gap);
}

.d-flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.d-flex-column div {  
  padding: var(--gap);  
}


.d-flex-column div h6 {
  font-size: 3rem;
  margin-bottom: .5rem;
}

.d-flex-column div p {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.d-grid {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: var(--gap);
  align-items: center;
  min-height: 100vh;
}

.p-fixed {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  border-bottom: 1px solid #550055;
  color: #550055;
}

.logo {
  font-size: 1em;
}

.nav-menu > a {
  margin: 0 1rem;
  padding: 0.5rem;
  transition: all 0.3s ease-in-out;
}

.nav-menu> a:nth-last-child(1) {
  background-color: #550055bd;
  color: var(--primary-color);
  border-radius: 0.5rem;
}

.nav-menu > a:hover {
  background-color: #550055;
  color: var(--primary-color);
  border-radius: 1rem;
}

#intro {
  background-color: #ffffff1c;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 2px 2px 2px #ffffff50;
}

#intro > p {
  line-height: 3rem;
}

.web-dev-img {
  height: 100%;
  width: 100%;
}

.who-am-i-img {
  height: 100%;
  width: 100%;
}

.who-am-i {
  color: #550055;
  height: 60vh;
  width: 60vw;
}

.who-am-i p {
  line-height: 3.1rem;
}

.d-flex-jobs {
  display: flex;
  flex-direction: column;
  line-height: 5rem;
  align-items: center;
}

.d-grid-jobs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--gap);
}

.agro > h3 {
  font-size: 4rem;
}

.agro > p {
  line-height: 3rem;
}

.pseudo-dev > h3 {
  font-size: 4rem;
}

.pseudo-dev > p {
  line-height: 3rem;
}

.gamer > h3 {
  font-size: 4rem;
}

.gamer > p {
  line-height: 3rem;
}

#my-job {
  margin-top: var(--gap);
}

.d-flex-img {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  align-items: center;
  justify-content: center;
}

.img-flex {
  transition: all .25s ease-in-out;
}

.img-flex:hover {
  transform: scale(1.1) rotate(1deg);
}

#typescript-svg > img, #react-svg > img {
  height: 10rem;
  width: 10rem;
}